.login__button{
    background-color: var(--color-white);
    color: var(--color-olive);
    border-radius: 25px;
    border: none;
    font-size: 0.8em;
    padding: 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    transition: all .2s ease;
}

.login__button:hover{
    box-shadow: 2px 2px 5px 1px rgb(0,0,0);
}