.friend__list{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.friend__details{
    padding: 5px;
}

.friend__search{
    width: 90%;
    margin: 0 auto;
    border: 2px solid var(--color-pewter);
    padding: 5px 0 5px 10px;
    border-radius: 25px;
    transition: all .2s ease;
}

.friend__search:hover, .friend__search:focus{
    border: 2px solid var(--color-oliveGray);
}